*.xlsx
mdb
buildno
tmp
bkup
.DS_Store
*/.DS_Store
*/*/.DS_Store
html/help/SettingUpANewBusinessWithCSVImport/images/
html/help/Glossary/.DS_Store
html/help/Glossary/resources/
html/images
js
localhost.*
