*.xlsx
*.xls
mdb
buildno
tmp
bkup
doc
.DS_Store
*/.DS_Store
*/*/.DS_Store
html/help/SettingUpANewBusinessWithCSVImport/images/
html/help/Glossary/.DS_Store
html/help/Glossary/resources/
html/images
localhost.*
test/testreport.txt
js/jquery*
test/testdb/rex.sql
bizerr.csv
node_modules
test/401/
test/conv/conv
test/importers/roomkey/roomkey_exported/
test/importers/roomkey/roomkey_sample/
test/irex/rex*
test/irex/m
test/irex/statements.txt
test/irex/tables/

