html, body {
  margin: 0;
  padding: 0;
  line-height: 1.33333;
  font: 100% Helvetica, sans-serif;
  font-size: 12px;
}

div {
  display: block;
}

.container {
  padding: 0px 25px;
}

div.rpt-table-container p.title {
  text-align: center;
  font-weight: bold;
  font-size: 20pt;
}
div.rpt-table-container p.section1 {
  text-align: center;
  font-size: 16pt;
}
div.rpt-table-container p.section2 {
  text-align: center;
  font-size: 12pt;
}
div.rpt-table-container table {
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0;
  padding: 0;
}
div.rpt-table-container table td, div.rpt-table-container table th {
  padding: 2px;
}
div.rpt-table-container table tr {
  page-break-inside: avoid;
}
div.rpt-table-container table thead {
  display: table-header-group;
}
div.rpt-table-container table thead tr th {
  border-bottom: 2px solid #BBB;
  font-weight: bold;
  padding-top: 12pt;
}
div.rpt-table-container table tbody tr.top-line td {
  border-top: 1px solid #BBB;
}
div.rpt-table-container table tbody tr.bottom-line td {
  border-bottom: 1px solid #BBB;
}
