#ra-form-container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clearfix {
    clear: both;
}

#progressbar-nav {
    margin: 0;
    padding: 0;
    display: block;
}

#progressbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
    counter-reset: step;
}

#progressbar li {
    display: block;
    float: left;
    width: 12.5%;
    text-align: center;
    height: 84px;
}

#progressbar li:before {
    background-color: #DDD;
    top: 20px;
    display: block;
    width: 100%;
    left: -50%;
    content: "";
    position: relative;
    height: 3px;
    z-index: 1;
}

#progressbar li:first-child:before {
    left: 100%;
}

#progressbar li:after {
    margin-bottom: 40px;
}

#progressbar li a {
    text-decoration: none;
}

#progressbar li a span.step {
    width: 34px;
    height: 34px;
    padding-top: 9px;
    margin: 0 auto 10px auto;
    font-weight: bold;
    font-size: 13px;
    border-radius: 50%;
    background-color: #9D9D9D;
    color: white;
    position: relative;
    z-index: 100;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    max-width: 100%;
    border: 1px transparent solid;
}

#progressbar li a span.title {
    display: block;
    color: #BDBDBD;
    position: relative;
    z-index: 10;
    text-align: center;
    font-size: 14px;
}

#progressbar li.active a span.step {
    border: 1px transparent solid;
    background-color: #0091d9;
}

#progressbar li.active a span.title {
    color: black;
}

#progressbar li.done a span.step {
    background-color: #00AF00;
}

#progressbar li.done a span.title {
    color: #00af00;
}

#progressbar li.done.active a span.step {
    border: none;
}

#ra-form-container {
    width: 100%;
    height: 100%;
    font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
    position: relative;
}

#ra-form {
    width: 100%;
    margin: 0 auto;
    padding: 20px 40px 0px 40px;
    text-align: center;
    position: relative;
}

.ra-form-component {
    /*width: 80%;*/
    margin: 0 auto;
    min-height: 360px;
    height: 70%;
    border: 1px #555 solid;
    position: relative;
}

.ra-form-component:not(:first-of-type) {
    display: none;
}

.ra-form-component .form-container {
    display: block;
    width: 100%;
    height: 100%;
}

div#save-ra-btn-container {
    position: absolute;
    width: 100%;
    bottom: 0px;
}

button.save-ra {
    padding: 12px;
    margin: 10px auto;
    min-width: 80px;
    text-align: center;
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-image: linear-gradient(to right, #6FD305 0%, #6DA0E5 100%);
}

#ra-form footer {
    /*width: 80%;*/
    margin: 10px auto 0px auto;
    position: relative;
    padding: 10px 20px;
}

#ra-form footer button#previous {
    float: left;
}

#ra-form footer button#next {
    float: right;
}

.ra-form-component#people .form-container {
    height: 130px;
}

.ra-form-component#people .form-container label {
    margin-right: 20px;
}

.ra-form-component#people .form-container input[type="checkbox"] {
    vertical-align: middle;
    width: 16px;
    height: 16px;
}

.ra-form-component#people .form-container input[name="Transactant"] {
    width: 60%;
}

#people-type-containers {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 130px;
}

#people-type-containers .people-type {
    width: 30%;
    margin: 0 1.5%;
    float: left;
    box-sizing: border-box;
    height: 100%;
    display: block;
}

.people-type > label {
    line-height: 30px;
}

.people-type .people-listing {
    box-sizing: border-box;
    height: 185px;
    display: block;
    border: 1px black solid;
    background-color: #F2F2F2;
    overflow-y: auto;
}

.people-listing li {
    padding: 3px 5px;
    text-align: left;
    position: relative;
}

.people-listing li span {
    font-size: 12px;
}

i.remove-item {
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 8px;
    color: red;
}

.ra-form-component#bginfo .w2ui-field > label {
    width: auto !important;
}

#bginfo {
    text-align: left;
}

.ra-form-component#bginfo .w2ui-field.w2ui-span4 > div {
    margin-left: 128px;
}

.ra-form-component#bginfo input[type="checkbox"] {
    vertical-align: middle;
    width: 15px;
    height: 16px;
    margin-right: 3px;
}

#ra-form-container #component-form-instance-container {
    position: absolute;
    right: 0px;
    width: 900px;
    z-index: 130;
    display: none;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#ra-form-container #component-form-instance-container #form-instance {
    width: 400px;
    float: right;
    height: 100%;
    background-color: #EFEFEF !important;
    border-left: 2px solid rgb(207, 207, 207);
}