@charset "ISO-8859-1";

@import url(https://fonts.googleapis.com/css?family=Roboto);

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

div, section {
    box-sizing: border-box;
    display: block;
}

table, td {
    border-collapse: collapse;
    font-family: "Open Sans","Roboto",sans-serif;
    border: 0px solid #bbb;
    font-size: 9pt;
    border-spacing: 6px;
    padding: 6px;
}

th {
    font-family: "Roboto","Open Sans",sans-serif;
    font-weight: bolder;
    border: 0px solid #bbb;
    font-size: 9pt;
    border-spacing: 20px;
    padding: 6px;
}

p {
    font-family: "Open Sans","Roboto", sans-serif;
    font-size: 9pt;
}

input:not([type=button]):not([type=submit]).w2ui-input:focus,
input:not([type=button]):not([type=submit]).w2ui-input-focus,
textarea.w2ui-input:focus,
textarea.w2ui-input-focus {
    outline: 1px #72b2ff solid;
}

.bannerTitle {
    font-family: "Open Sans","Roboto", sans-serif;
    font-size: 12pt;
    font-weight: bold;
}

.bannerTable td {
    font-family: "Open Sans","Roboto", sans-serif;
    border: 0px solid #bbb;
    padding: 4px;
    font-size: 10pt;
}

.bannerTableStrong td {
    font-family: "Open Sans","Roboto", sans-serif;
    border: 0px solid #bbb;
    padding: 4px;
    font-size: 10pt;
    font-weight: bolder;
}

.preformatted {
    font-family: "Monaco", "Menlo", "Source Code Pro", monospace;
    white-space: pre;
    font-size: 8pt;
}

.hidden {
    display: none !important;
}

.asmInfoContainer {
    background-color: white;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 0 5px 10px 10px;
    text-align: left;
}

.asmInfoContainer p:not(:last-child) {
    padding-bottom: 5px;
}

.FLAGReportContainer {
    background-color: #d0e9c6;
    padding: 8px 12px;
    border-radius: 4px;
    margin: -15px 0px 15px 0px;
    text-align: left;
    position: relative;
    border-top: 1px #AAA solid;
    border-bottom: 1px #CCC solid;
}

.FLAGReportContainer p {
    font-size: 10px;
}

.FLAGReportContainer p:not(:last-child) {
    margin-bottom: 5px;
}

.FLAGReportContainer .reverseIconContainer {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
}

.FLAGReportContainer .reverseIcon {
    color: #ffa500;
    transform: translate(-100%, -50%);
    position: absolute;
    top: 50%;
}

.asmEpochRow {
    font-weight: bold;
}

.asmInstRow i.fa {
    color: #888;
}

.subTotalRow td {
    border-top: 2px #BBB solid;
}

.blankRow td {
    background-color: #CCEEFF;
    border: 0px transparent solid;
}

.grandTotalRow td {
    font-weight: bold;
}

#LoginMessage {
    display: block;
    padding: 8px 0px;
    margin-left: 130px;
}

#LoginMessage .errors {
    color: red;
}

#forgot_pass_link {
    display: block;
    margin: 10px 0px 2px 0px;
}

#user_menu_container img {
    width: auto;
    height: 28px;
    margin-top: 1px;
    vertical-align: middle;
    border-radius: 50%;
}

span#username {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin: 0 8px 0 0;
}

div#blank_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 1599;
}