h1 {
	margin: 60px 0 20px 0;
	color: #0088cc;
	font-size: 28px;
	font-weight: bold;
	line-height: 1em;
}

section:first-child h1 {
	margin-top: 0;
}

h2 {
	margin: 40px 0 20px 0;
	color: #0088cc;
	font-size: 16px;
	font-weight: bold;
	line-height: 1em;
}

h3 {
	margin: 18px 0 10px 0;
	color: #808080;
	font-size: 12px;
	font-weight: normal;
	line-height: 1em;
}

/* ============================================================
 * General
 * ============================================================ */
body {
	margin: 4;
	padding: 4;
	background: #fcfcfc;
	background: #f5f5f5;
}

body, div, p, th, td, li {
	color: #3a3a3a;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
}

a {
	color: #0088cc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 6px;
}

i {
	font-style: italic;
}


img.with-border {
    border: #bbbbbb 1px solid;
}

ul {
	margin: 0;
}

h1, h2, h3 {
	font-family: "Source Sans Pro", sans-serif;
	line-height: 1em;
}

table {
	margin: 12px 0;
	width: 100%;
}

th {
	padding: 4px 8px;
	background: #F5F5F5;
	border: 1px solid #E0E0E0;
	font-family: "Source Sans Pro",sans-serif;
	font-weight: bold;
	text-align: left;
}

td {
	border: 1px solid #E0E0E0;
	padding: 2px 8px;
	vertical-align: top;
	text-align: left;
}

td.code {
	font-family: "Source Code Pro";
	font-size: 14px;
	width: 150px;
}

code {
	display: inline-block;
	margin: 0 0 2px 0;
	padding: 0 4px;
	background: #F8F8F8;
	border: 1px solid #E0E0E0;
	border-radius: 3px 3px 3px 3px;
	color: #DD1144;
	font-family: "Source Code Pro";
	font-size: 14px;
	white-space: pre;
}

code > code {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	color: #ffffff;
}

code > code.important {
	background: #595b66;
}

pre > code {
	display: block;
	margin: 12px 0;
	padding: 12px 20px;
	background: #292b36;
	border: none;
	border-radius: 8px;
	color: #ffffff;
	overflow: auto;
}

pre.example > code {
	background: #f5f5f5;
	border: #e0e0e0 1px solid;
	color: #3a3a3a;
}

pre.example > code > code {
	color: inherit;
}

strong {
	font-weight: bold;
}

