@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('http://fonts.googleapis.com/css?family=Source+Code+Pro%7CSource+Sans+Pro:400,700');
.glossary {
	display: inline-block;
	margin: 0 0 2px 0;
	padding: 0 4px;
	background: #F8F8F8;
	border: 1px solid #E0E0E0;
	border-radius: 3px 3px 3px 3px;
	color: #1144EE;
	font-family: Roboto;
	font-size: 10pt;
	font-weight: bold;
	white-space: pre;
}
.title1 {
	margin: 60px 0 20px 0;
	color: #0088cc;
	font-size: 28px;
	font-weight: bold;
	line-height: 1em;
	font-family: "Source Sans Pro", sans-serif;
}
.title2 {
	margin: 40px 0 20px 0;
	color: #0088cc;
	font-size: 20px;
	font-weight: bold;
	line-height: 1em;
	font-family: "Source Sans Pro", sans-serif;
}
.title3 {
	color: #0088cc;
	font-size: 12px;
	font-weight: bold;
	line-height: 1em;
	font-family: "Source Sans Pro", sans-serif;
}

code {
	display: inline-block;
	margin: 0 0 2px 0;
	padding: 0 4px;
	background: #F8F8F8;
	border: 1px solid #E0E0E0;
	border-radius: 3px 3px 3px 3px;
	color: #4411EE;
	font-family: "Source Code Pro";
	font-size: 14px;
	white-space: pre;
}

textarea {
	font-family: "Source Code Pro";
	font-size: 11px;
}

.service {
	font-family: "Source Code Pro";
	font-size: 11px;
}

code > code {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	color: #ffffff;
}

code > code.important {
	background: #595b66;
}

pre > code {
	display: block;
	margin: 12px 0;
	padding: 12px 20px;
	background: #EEEEEE;
	border: none;
	border-radius: 8px;
	color: #4411EE;
	overflow: auto;
}

pre.example > code {
	background: #f5f5f5;
	border: #e0e0e0 1px solid;
	color: #3a3a3a;
}

pre.example > code > code {
	color: inherit;
}

.FieldBlueBlock {
	display: inline-grid;
	margin: 12px 0;
	padding: 4px 10px;
	background: #4b97d4;
	border: none;
	border-radius: 3px;
	color: #ffffff;
	overflow: auto;
	font-family:  "Roboto Mono","Source Code Pro",sans-serif;
	font-size: 10pt;
	font-weight: bold;
}
.FieldHdr {
	background: #F0F0F0;
	font-family: Roboto,sans-serif;
	font-weight: bold;
	text-align: left;
	font-size: 10pt;
}
.FieldBod {
	text-align: left;
	font-family: Roboto,sans-serif;
	font-size: 10pt;
}
.Synopsis {
	margin-left: 50px;
	font-size: 10pt;
}
.SynopsisFont {
	color: #0088cc;
}
.SynopsisFont, .Synopsis {
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
}
.Description {
	font-family: Roboto,sans-serif;
	font-size: 10pt;
	margin-left: 50px;
}
.SynopsisFont {
	font-size: 10pt;
}
.JSONparams table, .URLparams table {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
}
.JSONparams td {
	padding: 2px 8px;
	vertical-align: top;
}
.URLparams td {
	padding: 0px 0px;
	vertical-align: center;
}
.JSONparams th, .URLparams th {
	padding: 4px 8px;
	background: #F5F5F5;
	font-weight: bold;
}
.JSONparams td, .JSONparams th {
	border: 1px solid #E0E0E0;
	text-align: left;
	font-family: Roboto,"Source Code Pro",sans-serif;
	font-size: 10pt;
}
.URLparams td, .URLparams th {
	border: 1px solid #E0E0E0;
	text-align: left;
	font-family: Roboto,"Source Code Pro",sans-serif;
	font-size: 10pt;
}
table {
	border-collapse: collapse;
}
p.indent50 {
	margin-left: 50px;
}
