<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="/html/rentroll.css" rel="stylesheet"  type="text/css">
<title>Accord RentRoll - Dispatch</title>
</head>
<body>
<H1>Accord RentRoll</H1>
<p>FUNCTIONAL TEST INTERFACE</p>

<p></p>
<form action="/dispatch/"  method="POST">
<input type="hidden" name="DtStart" value="{{.DtStart}}"></td>
<input type="hidden" name="DtStop" value="{{.DtStop}}"></td>
<input type="hidden" name="BID" value="{{.B.BID}}">
<table>
<tr><th align="center">Reports</th><th></th><th align="center">CSV Load</th><th></th><th align="center">Commands</th><th></th><th align="center">Admin</th></tr>
<tr>
<td><hr></td><td></td>
<td><hr></td><td></td>
<td><hr></td><td></td>
<td><hr></td>
</tr>
<tr>
<!-- REPORTS -->
<td valign="top" align="center">{{range .PgHnd}}{{if eq .Category 0}}<input type="submit" name="action" value="{{.Name}}"><br>{{end}}{{end}}</td>
<td width="20"></td>
<!-- CSV IMPORT -->
<td valign="top" align="center">{{range .PgHnd}}{{if eq .Category 2}}<input type="submit" name="action" value="{{.Name}}"><br>{{end}}{{end}}</td>
<td width="20"></td>
<!-- COMMANDS -->
<td valign="top" align="center">{{range .PgHnd}}{{if eq .Category 1}}<input type="submit" name="action" value="{{.Name}}"><br>{{end}}{{end}}</td>
<td width="20"></td>
<!-- ADMIN -->
<td valign="top" align="center">{{range .PgHnd}}{{if eq .Category 3}}<input type="submit" name="action" value="{{.Name}}"><br>{{end}}{{end}}</td>
</tr>
</table>
</form>

<p></p>
<div class="preformatted">
{{.ReportContent}}
</div>

</body>
</html>
