<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/js/w2ui-1.5.rc1.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script src="/js/w2ui-1.5.rc1.js"></script>
    <script src="/js/lists.js"></script>
    <script src="https://use.fontawesome.com/6e18d0f7c3.js"></script>
    <script src="/html/{{.Lang}}/{{.Tmpl}}.js"></script>
    <link rel="icon" type="image/png" href="/html/images/favicon32x32.png">
</head>
<body>

<!--  color Icon images:  icon-page, w2ui-icon-check, ... see below in toptoolbar -->
<!--

mainlayout    - w2ui layout toptoolbar, toplayout, footer
toplayout     - w2ui layout for sidebar, main, and right (Detail)
reportslayout -
toptoolbar    - w2ui toolbar
sidebarL1     - w2ui sidebar

-->

<script>
var businesses = []
{{range .BL}}
var business = {BUD:"{{.Designation}}", BID:"{{.BID}}"};
businesses.push(business);
{{end}}

var pstyle = 'border: 1px solid #dfdfdf; padding: 0px;';
var pstyle2 = 'border: 1px solid #cfcfcf; padding: 0px;';
var prefmt = 'font-family: "Monaco", "Menlo", "Source Code Pro", monospace; white-space: pre; font-size: 8pt; background-color: white;';
var stdfmt = 'font-family: "Open Sans","Roboto",sans-serif; font-size: 9pt; border-spacing:5px; padding: 5px; color: #777777'
var config = {
    mainlayout: {
        name: 'mainlayout',
        padding: 0,
        panels: [
            { type: 'top', size: 55, style: pstyle, content: 'top' },
            { type: 'left', size: 200, hidden: true, style: pstyle, content: 'left' },
            { type: 'main', style: pstyle, content: 'main' },
			{ type: 'preview', size: '50%', resizable: true, hidden: true, style: pstyle, content: 'preview' },
			{ type: 'right', size: 200, resizable: true, style: pstyle, hidden: true, content: 'Details' },
            { type: 'bottom', size: 23, resizable: true, style: stdfmt, content: '&copy; 2015-2016 Accord Interests' }
        ]
    },
    toplayout: {
        name: 'toplayout',
        padding: 1,
        panels: [
            { type: 'top', hidden: true, size: 60, resizable: true, style: pstyle2, content: '<p align="center">**** Accord NEWS FLASH ****</p>'},
            { type: 'left', size: 200, style: pstyle2, resizable: true, content: 'sidebar' },
            { type: 'main',  size: 100, style: pstyle2, content: 'toplayout - main' },
            { type: 'preview', size: '50%', resizable: true, hidden: true, style: pstyle2, content: 'preview' },
            { type: 'right', size: 200, resizable: true, style: pstyle2, content: 'detail' },
            { type: 'bottom', size: 20, resizable: true, style: pstyle2, hidden: true, content: 'toplayout - bottom' }
        ]
    },
    reportslayout: {
        name: 'reportslayout',
        padding: 1,
        panels: [
            { type: 'top',size: 40, style: pstyle2, content: 'reports toolbar'},
            { type: 'left', size: 200, hidden: true, content: 'sidebar' },
            { type: 'main',  size: 100, style: prefmt, content: 'reports main window' },
            { type: 'preview', size: '50%', resizable: true, hidden: true, content: 'reports preview' },
            { type: 'right', size: 200, resizable: true, hidden: true, content: 'reports - detail' },
            { type: 'bottom', size: 20, resizable: true, hidden: true, content: 'reports - bottom' }
        ]
    },
    toptoolbar: {
        name: 'toptoolbar',
        items: [
             { type: 'html',  id: 'logo',
                html: '<div style="padding: 4px 0px;">'+
                      '<img src="/html/images/logo.png">'+
                      '</div>' 
            },
            { type: 'break', id: 'break1' },
            { type: 'menu',    id: 'moduleMenu', caption: 'Select Module',    icon: 'fa fa-sitemap', items: [
                { text: 'Directory',          icon: 'fa fa-user' }, 
                { text: 'RentRoll',           icon: 'fa fa-building-o' }, 
                { text: 'Forms & Procedures', icon: 'fa fa-book' }, 
            ]},
            { type: 'break', id: 'break2' },
            { type: 'menu',    id: 'menuButton', caption: 'Panels',    icon: 'fa fa-table', items: [
                { text: 'Messages', icon: 'fa fa-folder-o' }, 
                { text: 'Sidebar', icon: 'fa fa-folder-o' }, 
                { text: 'mainLayoutMain', icon: 'fa fa-folder-open-o' }, 
                { text: 'topLayoutmain',  icon: 'fa fa-folder-open' },
                { text: 'Preview', icon: 'fa fa-folder-open' },
                { text: 'Details', icon: 'fa fa-folder-open' },
                { text: 'Footer', icon: 'fa fa-folder-open' },
            ]},
        ],
        onClick: function (event) {
            console.log('target = ' + event.target)
            switch(event.target) {
                case "moduleMenu:Directory":      window.location.href = 'https://directory.airoller.com/'; break;
                case "moduleMenu:RentRoll":       window.location.href = 'https://rentroll.airoller.com/';  break;
                case "menuButton:Messages":       w2ui['toplayout'].toggle('top',true);                     break;
                case "menuButton:Sidebar":        w2ui['toplayout'].toggle('left',true);                    break;
                case "menuButton:mainLayoutMain": w2ui['mainlayout'].toggle('main',true);                   break;
                case "menuButton:Preview":        w2ui['toplayout'].toggle('preview',true);                 break;
                case "menuButton:Details":        w2ui['toplayout'].toggle('right',true);                   break;
                case "menuButton:Footer":         w2ui['mainlayout'].toggle('bottom',true);                 break;
                case "menuButton:topLayoutMain":  w2ui['toplayout'].toggle('main',true);                    break;
            }
        },
    },
    sidebarL1: {
        name: 'sidebarL1',
        topHTML:  '<div style="background-color: #eee; padding: 10px 5px; border-bottom: 1px solid silver">&nbsp;&nbsp;&nbsp;'+
                    '<i class="fa fa-building-o"></i> &nbsp;' + sBusinessUnit + ': <select name="BusinessSelect" onchange="ChangeBusiness()">'+
                    '{{range .BL}}<option value="{{.BID}}">{{.Designation}}</option>{{end}}'+
                    '</select>&nbsp;&nbsp;&nbsp;</div>',
        //flatButton: true,
        nodes: [
            { id: 'main', text: 'Main', img: 'icon-folder', expanded: true, group: true,
                nodes: [  { id: 'rentables', text: plural(sRentable), icon: 'fa fa-cube' },
                        { id: 'transactants', text: plural(sTransactant), icon: 'fa fa-users' },
                        { id: 'goRentalAgreements',  text: 'Rental Agreements',  icon: 'fa fa-certificate', hint: 'Rental Agreements' },
                        { id: 'goAssessments',  text: plural(sAssessment),  icon: 'fa fa-star-o', hint: plural(sAssessment) },
                        { id: 'goReceipts',  text: plural(sReceipt),  icon: 'fa fa-star', hint: plural(sReceipt) },
                        { id: 'goRatePlan',  text: 'Rate Plan',  icon: 'fa fa-money', hint: 'RatePlan' },
                        { id: 'goServiceMenu',  text: 'Service',  icon: 'fa fa-user', hint: 'Service' },
                ]
            },
            { id: 'reports', text: 'Reports', img: 'icon-folder', expanded: false, group: true,
                nodes: [ 
                       { id: 'assessments', text: 'Assessments', icon: 'fa fa-file-text-o' },
                       { id: 'businessUnits', text: 'Business Units', icon: 'fa fa-file-text-o' },
                       { id: 'chartOfAccounts', text: 'Chart Of Accounts', icon: 'fa fa-file-text-o' },
                       { id: 'depositMethods', text: 'Deposit Methods', icon: 'fa fa-file-text-o' },
                       { id: 'depositories', text: 'Depositories', icon: 'fa fa-file-text-o' },
                       { id: 'delinquency', text: 'Delinquency', icon: 'fa fa-file-text-o' },
                       { id: 'gsr', text: 'GSR', icon: 'fa fa-file-text-o' },
                       { id: 'journal', text: 'Journal', icon: 'fa fa-file-text-o' },
                       { id: 'ledger', text: 'Ledger', icon: 'fa fa-file-text-o' },
                       { id: 'ledgerActivity', text: 'Ledger Activity', icon: 'fa fa-file-text-o' },
                       { id: 'people', text: 'People', icon: 'fa fa-file-text-o' },
                       { id: 'paymentTypes', text: 'Payment Types', icon: 'fa fa-file-text-o' },
                       { id: 'receipts', text: 'Receipts', icon: 'fa fa-file-text-o' },
                       { id: 'countByRentable Type', text: 'Count By Rentable Type', icon: 'fa fa-file-text-o' },
                       { id: 'rentablesReport', text: plural(sRentable), icon: 'fa fa-file-text-o' },
                       { id: 'rentalAgreements', text: 'Rental Agreements', icon: 'fa fa-file-text-o' },
                       { id: 'rentalAgreementTemplates', text: 'Rental Agreement Templates', icon: 'fa fa-file-text-o' },
                       { id: 'rentableTypes', text: 'Rentable Types', icon: 'fa fa-file-text-o' },
                       { id: 'rentrolls', text: 'RentRolls', icon: 'fa fa-file-text-o' },
                       { id: 'statements', text: 'Statements', icon: 'fa fa-file-text-o' },
                       { id: 'string Lists', text: 'String Lists', icon: 'fa fa-file-text-o' },
                       { id: 'trial Balance', text: 'Trial Balance', icon: 'fa fa-file-text-o' },
                ]
            },
            { id: 'admin', text: 'Admin', img: 'icon-wrench', expanded: false, group: true,
                nodes: [ { id: 'accounts', text: 'Chart Of Accounts', icon: 'fa fa-folder-o' },
                ]
            },
       ],
        onFlat: function (event) {
            console.log('event.goFlat = ' + event.goFlat )
            $('#sidebarL1').css('width', (event.goFlat ? '35px' : '200px'));
        },
        onClick: function (event) {
            switchToGrid(event.target)
        }
    },
    reportstoolbar: {
        name: 'reportstoolbar',
        items: [
            { type: 'button',  id: 'monthback', icon: 'fa fa-angle-double-left' },
            { type: 'button',  id: 'dayback', icon: 'fa fa-angle-left' },
            { type: 'html',    id: 'reportsD1', html: function (item) {
                    var html =
                      '<div style="padding: 3px 10px;">'+
                      ' Start: <input type="date" name="dateD1" value="2016-08-01">'+
                      '</div>';
                    return html;
                }
            },
            { type: 'html',    id: 'reportsD2', html: function (item) {
                    var html =
                      '<div style="padding: 3px 10px;">'+
                      ' Stop: <input type="date" name="dateD2" value="2016-09-01">'+
                      '</div>';
                    return html;
                }
            },
            { type: 'button',  id: 'monthfwd', icon: 'fa fa-angle-right' },
            { type: 'button',  id: 'dayfwd', icon: 'fa fa-angle-double-right' },
        ]
    }
 
}

function showReport(rptname) {
    w2ui['toplayout'].content('main', w2ui['reportslayout']);
    w2ui['toplayout'].hide('right');
    w2ui['reportslayout'].load('main', '/wsvc/' + rptname);
}

var accountsGrid = {
    name: 'accountsGrid',
    url: '/gsvc/GLAccounts',
    show: {
        header: false,
        toolbar: true,
        footer: true,
        searches: true,
        lineNumbers: false,
        selectColumn: false,
        expandColumn: false
    },        
    columns: [
        {field: 'recid',    caption: 'recid', size: '40px', sortable: true},
        {field: 'LID',      caption: 'LID', size: '50px', sortable: true},
        {field: 'PLID',     caption: 'PLID', size: '50px', sortable: true},
        {field: 'BID',      caption: 'BID', size: '40px', sortable: true},
        {field: 'GLNumber', caption: 'GL Number', size: '85px', sortable: true},
        {field: 'Name',     caption: 'Name', size: '10%', sortable: true},
        {field: 'Status',   caption: 'Status', size: '50px', sortable: true},
        {field: 'AcctType', caption: 'AcctType', size: '140px', sortable: true},
    ],
    onSelect:  function(event) {
        console.log(event);
    },
    onClick: function(event) {
        event.onComplete = function () {
            // Object.getOwnPropertyNames(this).forEach(function(val, idx, array) {
            //   console.log(val + ' -> ' + this[val]);
            // });   
            var sel = this.getSelection(true);
            console.log('Current selection is ' + sel );
        }
    }
}

var transactantsGrid = { 
    name: 'transactantsGrid', 
    url: '/gsvc/transactants',
    show: {
        header: false,
        toolbar: true,
        footer: true,
        lineNumbers: false,
        selectColumn: false,
        expandColumn: false
    },        
    columns: [
        {field: 'FirstName',    caption: "First Name",    size: '10%', sortable: true, hidden: false},
        {field: 'MiddleName',   caption: "Middle Name",   size: '10%', sortable: true, hidden: true},
        {field: 'LastName',     caption: "Last Name",     size: '10%', sortable: true, hidden: false},
        {field: 'CompanyName',  caption: "Company Name",  size: '10%', sortable: true, hidden: false},
        {field: 'PrimaryEmail', caption: "Primary Email", size: '10%', sortable: true, hidden: false},
        {field: 'WorkPhone',    caption: "Work Phone",    size: '10%', sortable: true, hidden: false},
        {field: 'CellPhone',    caption: "Cell Phone",    size: '10%', sortable: true, hidden: false},
    ],
    onClick: function(event) {
        console.log('**** CAUGHT EVENT: ' + event)
        console.log('     event.type = ' + event.type)
            var sel = this.getSelection(true);
            console.log('Current selection is ' + sel );
        event.onComplete = function () {
            var x = this.get
            Object.getOwnPropertyNames(x).forEach(function(val, idx, array) {
              console.log(val + ' -> ' + x[val]);
            });   
            console.log('*** onComplete handler ***')
            var sel = this.getSelection(true);
            console.log('Current selection is ' + sel );
            var index, j;
            var l = sel.length;
            if (l > 0) {
                for (index = 0; index < sel.length; ++index) {
                    j = sel[index];
                    console.log('sel[index] is ' + sel[index] + ' j = ' + j)
                    var f = w2ui['transactantForm'];
                    w2ui['toplayout'].show('right',true);
                    w2ui['toplayout'].content('right', f);
                    w2ui['toplayout'].sizeTo('right', 400);
                    ob = this.get(j)
                    // f.record['recid'] = ob.TCID;
                    console.log('ob.TCID = ' + ob.TCID)
                    console.log('f.record[recid] = ' + f.record['recid'])
                    // url format = /gsvc/xperson/uid/bid/tcid
                    uid = 211; // hardcoding for now
                    f.url = '/gsvc/xperson/' + uid + '/' + ob.BID + '/' + ob.TCID
                    console.log('f.url = ' + f.url)
                    f.request();
                    }
            } else {
                console.log('*** NO SELECTION FOUND ***   So, select index 0')
                this.select(1)
            }
        }
    }
}

var transactantForm = {
    name: 'transactantForm',
    style: 'border: 0px; background-color: transparent;',
    header: sTransactant + ' Detail',
    url: '/gsvc/xperson',
    formURL: '/html/formtc.html',
    fields: [
        { field: 'recid', type: 'int', required: false, html: { caption: 'recid', page: 0, column: 0 } },
        { field: 'FirstName', type: 'text', required: false, html: { caption: 'First Name', page: 0, column: 0 } },
        { field: 'LastName', type: 'text', required: false, html: { caption: 'Last Name', page: 0, column: 0 } },
        { field: 'MiddleName', type: 'text', required: false, html: { caption: 'Middle Name', page: 0, column: 0 } },
        { field: 'PreferredName', type: 'text', required: false, html: { caption: 'Preferred Name', page: 0, column: 0 } },
        { field: 'PrimaryEmail', type: 'email', required: false, html: { caption: 'Primary Email', page: 0, column: 0 } },
        { field: 'TCID', type: 'int', required: false, html: { caption: 'TCID', page: 0, column: 0 } },
        { field: 'BID', type: 'int', required: false, html: { caption: 'BID', page: 0, column: 0 } },
        { field: 'NLID', type: 'int', required: false, html: { caption: 'NLID', page: 0, column: 0 } },
        { field: 'CompanyName', type: 'text', required: false, html: { caption: 'Company Name', page: 0, column: 0 } },
        { field: 'IsCompany', type: 'checkbox', required: false, html: { caption: 'Is Company', page: 0, column: 0 } },
        { field: 'SecondaryEmail', type: 'email', required: false, html: { caption: 'Secondary Email', page: 0, column: 0 } },
        { field: 'WorkPhone', type: 'phone', required: false, html: { caption: 'Work Phone', page: 0, column: 0 } },
        { field: 'CellPhone', type: 'phone', required: false, html: { caption: 'Cell Phone', page: 0, column: 0 } },
        { field: 'Address', type: 'text', required: false, html: { caption: 'Address', page: 0, column: 0 } },
        { field: 'Address2', type: 'text', required: false, html: { caption: 'Address 2', page: 0, column: 0 } },
        { field: 'City', type: 'text', required: false, html: { caption: 'City', page: 0, column: 0 } },
        { field: 'State', type: 'text', required: false, html: { caption: 'State', page: 0, column: 0 } },
        { field: 'PostalCode', type: 'text', required: false, html: { caption: 'Postal Code', page: 0, column: 0 } },
        { field: 'Country', type: 'text', required: false, html: { caption: 'Country', page: 0, column: 0 } },
        { field: 'Website', type: 'text', required: false, html: { caption: 'Website', page: 0, column: 0 } },
        { field: 'LastModTime', type: 'text', required: false, html: { caption: 'LastModTime', page: 0, column: 0 } },
        { field: 'LastModBy', type: 'text', required: false, html: { caption: 'LastModBy', page: 0, column: 0 } },
        { field: 'Points', type: 'text', required: false, html: { caption: 'Points', page: 1, column: 0 } },
        { field: 'DateofBirth', type: 'us-date', required: false, html: { caption: 'Date of Birth', page: 1, column: 0 } },
        { field: 'EmergencyContactName', type: 'text', required: false, html: { caption: 'Emerg Cntct Name', page: 1, column: 0 } },
        { field: 'EmergencyContactAddress', type: 'text', required: false, html: { caption: 'Emerg Cntct Addr', page: 1, column: 0 } },
        { field: 'EmergencyContactTelephone', type: 'text', required: false, html: { caption: 'Emerg Cntct Tel', page: 1, column: 0 } },
        { field: 'EmergencyEmail', type: 'text', required: false, html: { caption: 'Emergency Email', page: 1, column: 0 } },
        { field: 'AlternateAddress', type: 'text', required: false, html: { caption: 'Alternate Address', page: 1, column: 0 } },
        { field: 'EligibleFutureUser', type: 'text', required: false, html: { caption: 'Eligible Future User', page: 1, column: 0 } },
        { field: 'Industry', type: 'text', required: false, html: { caption: 'Industry', page: 1, column: 0 } },
        { field: 'SourceSLSID', type: 'w2int', required: false, html: { caption: 'Source SLSID', page: 1, column: 0 } },
        { field: 'CreditLimit', type: 'w2float', required: false, html: {caption: 'Credit Limit', page: 2, column: 0 } },
        { field: 'TaxpayorID', type: 'text', required: false, html: {caption: 'Taxpayor ID', page: 2, column: 0 } },
        { field: 'AccountRep', type: 'text', required: false, html: {caption: 'Account Rep', page: 2, column: 0 } },
        { field: 'EligibleFuturePayor', type: 'text', required: false, html: {caption: 'Eligible Future Payor', page: 2, column: 0 } },
        { field: 'EmployerName', type: 'text', required: false, html: {caption: 'Employer Name', page: 3, column: 0 } },
        { field: 'EmployerStreetAddress', type: 'text', required: false, html: {caption: 'Employer Street Address', page: 3, column: 0 } },
        { field: 'EmployerCity', type: 'text', required: false, html: {caption: 'Employer City', page: 3, column: 0 } },
        { field: 'EmployerState', type: 'text', required: false, html: {caption: 'Employer State', page: 3, column: 0 } },
        { field: 'EmployerPostalCode', type: 'text', required: false, html: {caption: 'Employer Postal Code', page: 3, column: 0 } },
        { field: 'EmployerEmail', type: 'text', required: false, html: {caption: 'Employer Email', page: 3, column: 0 } },
        { field: 'EmployerPhone', type: 'text', required: false, html: {caption: 'Employer Phone', page: 3, column: 0 } },
        { field: 'Occupation', type: 'text', required: false, html: {caption: 'Occupation', page: 3, column: 0 } },
        { field: 'ApplicationFee', type: 'text', required: false, html: {caption: 'Application Fee', page: 3, column: 0 } },
        { field: 'DesiredUsageStartDate', type: 'us-date', required: false, html: {caption: 'Desired Usage Start Date', page: 3, column: 0 } },
        { field: 'RentableTypePreference', type: 'text', required: false, html: {caption: 'Rentable Type Preference', page: 3, column: 0 } },
        { field: 'FLAGS', type: 'text', required: false, html: {caption: 'FLAGS', page: 3, column: 0 } },
        { field: 'Approver', type: 'text', required: false, html: {caption: 'Approver', page: 3, column: 0 } },
        { field: 'DeclineReasonSLSID', type: 'w2int', required: false, html: {caption: 'Decline Reason SLSID', page: 3, column: 0 } },
        { field: 'OtherPreferences', type: 'text', required: false, html: {caption: 'Other Preferences', page: 3, column: 0 } },
        { field: 'FollowUpDate', type: 'us-date', required: false, html: {caption: 'FollowU pDate', page: 3, column: 0 } },
        { field: 'CSAgent', type: 'text', required: false, html: {caption: 'CS Agent', page: 3, column: 0 } },
        { field: 'OutcomeSLSID', type: 'text', required: false, html: {caption: 'Outcome SLSID', page: 3, column: 0 } },
        { field: 'FloatingDeposit', type: 'w2float', required: false, html: {caption: 'Floating Deposit', page: 3, column: 0 } },
        { field: 'RAID', type: 'w2int', required: false, html: {caption: 'RAID', page: 3, column: 0 } },

    ],
    tabs: [
        { id: 'tab1', caption: sTransactant },
        { id: 'tab2', caption: sUser },
        { id: 'tab3', caption: sPayor },
        { id: 'tab4', caption: sProspect },
    ],
    actions: {
        reset: function () {
            this.clear();
        },
        save: function () {
            var obj = this;
            var tgrid = w2ui['transactantsGrid'];
            var sel = tgrid.getSelection();
            tgrid.unselect(sel);
            console.log('before: tgrid.getSelection() = ' + tgrid.getSelection() );
            this.save({}, function (data) { 
                if (data.status == 'error') {
                    console.log('ERROR: '+ data.message);
                    return;
                }
                // obj.clear();
                w2ui['toplayout'].hide('right',true);
                tgrid.reload();
            });
        }
    }
}

var rentablesGrid = {
    name: 'rentablesGrid',
    url: '/gsvc/xrentable',
    formURL: '/html/formr.html',
    show: {
        header: false,
        toolbar: true,
        searches: true,
        footer: false,
        lineNumbers: false,
        selectColumn: false,
        expandColumn: false
    },
    columns: [
        {field: 'recid', caption: 'recid', size: '50px', hidden: true, sortable: true},
        {field: 'RID', caption: 'RID', size: '50px', sortable: true},
        {field: 'Name', caption: 'Name', size: '15%', sortable: true},
        {field: 'AssignmentTime', caption: 'Assignment Time', size: '15%', sortable: true},
    ],
    onClick: function(event) {
        console.log('*******************************************************************************')
        var sel = this.getSelection(true);
        if (sel.length == 0) {
            console.log( 'Nothing selected.  returning')
            return
        }
        console.log('sel = ' + sel)
        event.onComplete = function () {
            console.log('*** ON COMPLETE ***')
            console.log('sel = ' + sel)
            if (sel.length == 0) { return }
            rec = w2ui['rentablesGrid'].get(sel[0])
            userid = 211
            b = getCurrentBusiness();
            url = '/gsvc/xrentable/' + userid + '/' + b.value + '/' + rec.RID;
            console.log('url = ' + url)
            var f = w2ui['rentablesForm'];
            f.url = url;
            w2ui['toplayout'].show('right',true);
            w2ui['toplayout'].content('right', f);
            w2ui['toplayout'].sizeTo('right', 400);
            f.request();
        }
    }
}

var rentablesForm = {
    name: 'rentablesForm',
    style: 'border: 0px; background-color: transparent;',
    header: sRentable + ' Detail',
    url: '/gsvc/xrentable',
    formURL: '/html/formr.html',
    fields: [
        { field: 'recid', type: 'int', required: false, html: { caption: 'recid', page: 0, column: 0 } },
        { field: 'RID', type: 'int', required: false, html: { caption: 'RID', page: 0, column: 0 } },
        { field: 'BID', type: 'int', required: false, html: { caption: 'BID', page: 0, column: 0 } },
        { field: 'Name', type: 'text', required: false, html: { caption: 'Name', page: 0, column: 0 } },
        { field: 'AssignmentTime', type: 'list', options: {items: AssignmentTimeList}, required: false, html: { caption: 'Assignment Time', page: 0, column: 0 } },
    ],
    actions: {
        reset: function () {
            this.clear();
        },
        save: function () {
            var obj = this;
            var tgrid = w2ui['rentablesGrid'];
            var sel = tgrid.getSelection();
            tgrid.unselect(sel);
            console.log('before: tgrid.getSelection() = ' + tgrid.getSelection() );
        }
    }
}

function getCurrentBusiness() {
    var x = document.getElementsByName("BusinessSelect");
    return x[0];
}
// urlPrefix returns the standard for values for the web services
// url ending:  <userid>/<business id>
function urlSuffix() {
    user = "211" // hardcoded for now
    return user+x[0].value;
}

// ChangeBusiness updates the UI to the newly selected business
function ChangeBusiness() {
    var x =document.getElementsByName("BusinessSelect");
    w2ui['toplayout'].content('main', ' ');
    w2ui['toplayout'].hide('right',true);
    s = w2ui['sidebarL1'];
    sel = s.selected;
    if (sel != null) { 
        s.unselect(sel);
    }
}

function switchToGrid(svc) {
    grid = svc + 'Grid' // this builds the name of the w2ui grid we want
    var user = '211'    // user is hardcoded for now
    var x = getCurrentBusiness();
    var url = '/gsvc/' + svc + '/' + user + '/' + x.value;
    w2ui[grid].url = url;
    console.log('url = ' + url);
    w2ui['toplayout'].content('main', w2ui[grid]);
    w2ui['toplayout'].hide('right',true);
}

$(function () {
    $('#layout').w2layout(config.mainlayout);
    w2ui.mainlayout.content('main', $().w2layout(config.toplayout));
    w2ui.mainlayout.content('top', $().w2toolbar(config.toptoolbar));
    $().w2layout(config.reportslayout);
    w2ui.reportslayout.content('top', $().w2toolbar(config.reportstoolbar));
    $().w2grid(accountsGrid);
    $().w2grid(transactantsGrid);
    $().w2form(transactantForm);
    $().w2grid(rentablesGrid);
    $().w2form(rentablesForm);
    w2ui['toplayout'].content('left',$().w2sidebar(config.sidebarL1));

    var month = (new Date()).getMonth() + 1;
    var year  = (new Date()).getFullYear();

    // US Format
    $('input[type=us-date]').w2field('date', { format: 'yyyy-mm-dd' });
    $('input[type=us-dateA]').w2field('date', { format: 'm/d/yyyy', start:  month + '/5/' + year, end: month + '/25/' + year });
    $('input[type=us-dateB]').w2field('date', { format: 'm/d/yyyy', blocked: [ month+'/12/2014',month+'/13/2014',month+'/14/' + year,]});
    $('input[type=us-date1]').w2field('date', { format: 'm/d/yyyy', end: $('input[type=us-date2]') });
    $('input[type=us-date2]').w2field('date', { format: 'm/d/yyyy', start: $('input[type=us-date1]') });
    $('input[type=us-time]').w2field('time',  { format: 'h12' });
    $('input[type=us-timeA]').w2field('time', { format: 'h12', start: '8:00 am', end: '4:30 pm' });

    // EU Common Format
    $('input[type=eu-date]').w2field('date',  { format: 'd.m.yyyy' });
    $('input[type=eu-dateA]').w2field('date', { format: 'd.m.yyyy', start:  '5.' + month + '.' + year, end: '25.' + month + '.' + year });
    $('input[type=eu-dateB]').w2field('date', { format: 'd.m.yyyy', blocked: ['12.' + month + '.' + year, '13.' + month + '.' + year, '14.' + month + '.' + year]});
    $('input[type=eu-date1]').w2field('date', { format: 'd.m.yyyy', end: $('input[type=eu-date2]') });
    $('input[type=eu-date2]').w2field('date', { format: 'd.m.yyyy', start: $('input[type=eu-date1]') });
    $('input[type=eu-time]').w2field('time',  { format: 'h24' });
    $('input[type=eu-timeA]').w2field('time', { format: 'h24', start: '8:00 am', end: '4:30 pm' });
});
</script>

<div id="layout"style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;"></div>

</body>
</html>
