@charset "ISO-8859-1";
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

table, td {
    border-collapse:collapse;
    font-family: "Open Sans","Roboto",sans-serif;
    border: 0px solid #bbb;
    font-size: 9pt;
    border-spacing:6px;
    padding: 6px;
}

th {
    font-family: "Roboto","Open Sans",sans-serif;
    font-weight: bolder;
    border: 0px solid #bbb;
    font-size: 9pt;
    border-spacing:20px;
    padding: 6px;
}

p {
    font-family: "Open Sans","Roboto", sans-serif;
    font-size: 9pt;
}

.preformatted {
    font-family: "Monaco", "Menlo", "Source Code Pro", monospace;
    white-space: pre;
    font-size: 8pt;
}

