@charset "ISO-8859-1";
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

table, th, td {
    border-collapse:collapse;
    border: 0px solid #ddd;
    font-family: "Open Sans","Roboto",sans-serif;
    font-size: 9pt;
    border-spacing:2px;
    padding: 2px;
}

p {
    font-family: "Open Sans","Roboto", sans-serif;
    font-size: 9pt;
}

.preformatted {
    font-family: "Monaco", "Menlo", "Source Code Pro", monospace;
    white-space: pre;
    font-size: 8pt;
}
